body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.header-main {
  margin-bottom: 80px;
  background-color: #f4f7f9;
  color: #ffffff;
}

.header-top {
  min-height: 42px;
  margin-bottom: 46px;

  background-color: #293449;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Разметка логотипа */
.header-logo {
  height: 42px;
}

.header-logo .logo-hover,
.header-logo .logo-active {
  display: none;
}

.header-logo:hover .main-logo,
.header-logo:hover .logo-active {
  display: none;
}

.header-logo:hover .logo-hover {
  display: inline-block;
}

.header-logo:active .logo-active {
  display: inline-block;
}

.header-logo:active .main-logo,
.header-logo:active .logo-hover {
  display: none;
}

/* Форма поиска */

.header-search {
  display: flex;
  box-sizing: border-box;
  width: 270px;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.button-search {
  height: 100%;
  height: 100%;
  padding-left: 13px;
  padding-top: 5px;
  border: none;
  background-color: #293449;
  opacity: 0.3;
}

.header-search-input {
  height: 100%;
  width: 100%;
  padding-left: 9px;

  color: #ffffff;
  background-color: #293449;
  border: none;
}

.header-search:hover input[type="search"] {
  background-color: #212a3a;
  color: #ffffff;
}

.header-search:hover .button-search {
  background-color: #212a3a;
  fill: #ffffff;
  opacity: 1.0;
}

.header-search:active input[type="search"] {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.icon-search {
  background-color: #293449;
  fill: #ffffff;
  opacity: 0.3;
}

.header-top-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-top-item a {
  width: auto;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

.header-top-order {
  width: 150px;
  margin: 0;
  padding: 14px 21px 13px;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.header-top-order:hover,
.header-top-order:focus {
  background-color: #5fbb2d;
}

.header-top-order:active {
  opacity: 0.5;
  background-color: #518534;
}

.header-top-bookmarks {
  position: relative;
  padding: 13px 25px 14px 44px;
}

.header-top-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-bookmarks:hover::before,
 .header-top-bookmarks:focus::before{
  opacity: 1.0;
}

.header-top-bookmarks:active::before {
  opacity: 0.5;
}

.header-top-cart {
  position: relative;
  padding: 13px 30px 14px 44px;
}

.header-top-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-cart:hover::before,
 .header-top-cart:focus::before {
  opacity: 1.0;
}

.header-top-cart:active::before {
  opacity: 0.5;
}

.header-top-cart-autorized {
  position: relative;
  width: 150px;
  padding: 13px 30px 14px 44px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

.header-top-cart-autorized::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-cart-autorized:hover::before,
.header-top-cart-autorized:focus::before {
  opacity: 1.0;
}

.header-top-cart-autorized:active::before {
  opacity: 0.5;
}
/* Стили header-middle */
.header-middle {
  background-color: #f3f7f9;
  margin-bottom: 20px;
  /* padding-bottom: 35px; */
}

.header-middle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стили названия страницы */
.index-title {
  width: 197px;
  margin: 0;
  padding-left: 53px;
  padding-top: 3px;

  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

/* Стили блока контактов в header */
.header-contacts p {
  width: 250px;
  margin: 0;
  padding: 7px;

  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header-contacts-link {
  box-sizing: border-box;
  position: relative;
  width: 270px;
  padding: 10px 47px 7px 71px;
  color: #e9292a;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff;
}

.header-contacts-link::before {
  content: "";

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;

  width: 19px;
  height: 19px;

  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.user-nav-item a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-nav-item a:hover,
.user-nav-item a:focus {
  color: #ee3643;
}

.user-nav-item a:active {
  color: #000000;
  opacity: 0.3;
}


.login-link {
  box-sizing: border-box;
  position: relative;
  width: 121px;
  padding: 14px 27px 15px 48px;
  margin-right: 10px;
}

.login-link svg {
  content: "";
  width: 20px;
  height: 17px;

  position: absolute;
  top: 16px;
  left: 14px;
}

.login-link:hover,
.login-link:focus {
  color: #ee3643;
}

.login-link:hover path,
.login-link:focus path {
  fill: #32425c;
}

.registration-link {
  box-sizing: border-box;
  width: 150px;
  padding: 14px 25px 15px 25px;

  color: #000000;

}

/* Стили reg-nav в каталоге */
.reg-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-link,
.personal-link {
  color: #32425c;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.order-link:hover,
.order-link:focus,
.personal-link:hover,
.personal-link:focus {
  color: #ee3643;
}

.order-link:active,
.personal-link:active {
  color: #32425c;
  opacity: 0.3;
}

 .profile-link {
  box-sizing: border-box;
  padding: 10px 13px 9px 13px;

  background-color: #ffffff;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none
}

.profile-link svg {
  margin-right: 10px;
}

.profile-link:active {
  color: #000000;
  opacity: 0.3;
}

.profile-link:hover,
.profile-link:focus {
  color: #ee3643;
}

.profile-link:hover path,
.profile-link:focus path {
  fill: #32425c;
}
.reg-nav-item {
  position: relative;
}

.profile-exit {
  padding-top: 13px;
  padding-left: 22px;
  padding-bottom: 3px;
  padding-right: 10px;
  background-color: #ffffff;
}

.profile-exit:hover path,
.profile-exit:focus path {
  fill: #32425c;
}

.profile-exit svg:active path {
  fill: #c5c5c5;
}

.order-link {
  margin-left: 20px;
  position: relative;
}

.order-link::after {
  content: "";

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
  position: absolute;
  top: 8px;
  right: -18px;
}

.personal-link {
  margin-left: 30px;
}

/* Стили навигации в header */

.header-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 23px;

  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-nav-link {
  display: block;
  width:auto;
  padding: auto;
  padding: 22px 30px;
  vertical-align: middle;

  color: #ffffff;
}

.header-nav-item a:hover,
.header-nav-item a:focus {
  background-color: #1d2739;;
}

.header-nav-item a:active {
  opacity: 0.5;
}

/* Стилизация main */

/*Стили для "О компании"  */
.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.info {
  width: 519px;
  margin: 0;


  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.info-title {
  margin: 0;
  margin-bottom: 10px;
}

.info p {
  margin: 0;
  padding: 15px 0;
}

.info-list {
  margin: 0;
  margin-bottom: 17px;
  list-style: none;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
}

.info-item {
  position: relative;
  padding-bottom: 20px;
}

.info-item::before{
  content: "";

  width: 25px;
  height: 2px;
  top: 10px;
  left: -35px;
  background-color: #ee3643;

  position: absolute;
}

.info-more {
  padding: 14px 40px 12px 41px;
}

/* Стили для контактов в main */
.main-contacts {
  width: 300px;
  margin: 0;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.main-contacts-title {
  margin: 0;
  margin-bottom: 10px;
}

.main-contacts p {
  width: 179px;
  padding: 15px 0;

  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.main-contacts img {
  padding-bottom: 30px;
}

.main-contacts-link {
  padding: 14px 59px 12px 63px;
}

.about-us a {
  display: inline-block;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}


.info-title,
.main-contacts-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

/* Стили для footer */

.footer-main {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

/* Убираем маркеры со списков */
.footer-nav-list,
.footer-menu-list,
.social-list {
  list-style: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px 0 0 142px;
}

.footer-nav-item a {
  margin: 10px 30px;

  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  opacity: 0.5;
  text-decoration: none
}

/* Стили для footer-middle */
.footer-middle{
  display: flex;
  margin-bottom: 53px;
}

/* Стили для контактов в footer */
.footer-contacts {
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}
/* Белый цвет для ссылки-телефона */
.footer-contacts a {
  color: #f1f5f7;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}
/* Стили для меню в footer  */

.footer-menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  margin-right: 0;
  padding: 0;
}

.footer-menu-item a {

  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-item {
  margin: 0 30px;
}

.footer-menu-item:last-child {
  margin: 0 0 10px 30px;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  text-decoration: underline;
}

.footer-menu-item a:active {
  opacity: 0.5;
  text-decoration: none
}


.footer-bottom {
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 107px;
}

.social-list {
  display: flex;
  padding: 0;
  margin-right: 119px;
}

.social-item:not(:last-of-type) {
  margin-right: 4px;
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

/* Стили для copyright */

.copyright {
  width: 227px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  margin-right: 165px;
}

/* Стили для feedback */
/* Стили для develop */
.feedback,
.develop {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
}

.feedback p,
.develop p {
  margin: 0;
}

.develop {
  margin-left: auto;
}

.feedback a,
.develop a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: #ee3643;
  text-decoration: none
}


/* Каталог */
/* Стили breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -20px;

  width: 8px;
  height: 12px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current:after {
  display: none;
}

.breadcrumbs-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

/* Стили заголовка */
.catalog-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* Стили каталога */

.catalog {
  width: 700px;

  margin-top: 37px;
}

.catalog-main-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Стили карточки товара */
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: -20px;
  padding: 0;
}


.catalog-item.product {
  list-style: none;
}

.catalog-item.product {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-bottom:20px;
  margin-left: 20px;

  line-height:20px;
  font-weight:bold;
  text-align:center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-img {
  order: 1;
}

.product-info {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 133px;
}

.product-new {
  position: relative;
}

.product-new::after {
  content: "";

  position:absolute;
  left: 160px;

  width: 60px;
  height: 59px;

  background-image: url("../img/content-img/new_flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.product-title {
  width: 157px;
  margin: 10px auto;

  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-1 {
  padding: 29px 53px 23px 40px;
}

.product-2 {
  padding: 22px 49px 13px 27px;
}

.product-cart-link {
  position:relative;
  width: 75px;
  margin: 8px auto;
  padding: 10px 30px;
  color: white;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background:#ee3643;
  border-radius:3px;
}

.product-cart-link:after{
    content:"";
    position:absolute;
    top:0;
    right:-25px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.product-old-price {
  min-height:20px;
  margin: 0 auto;
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.catalog-item.product:hover,
.catalog-item.product:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-order {
  display: none;
}

.catalog-item.product:hover .product-order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 43px 42px 37px 41px;
}

.catalog-item.product:hover .product-img {
  display: none;
}

.cart-link {
  position: relative;
  box-sizing: border-box;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 11px 45px 11px 49px;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  border-radius: 3px;
}

.bookmarks-button {
  box-sizing: border-box;
  width: 135px;
  margin: 0 auto;
  padding: 10px 0px 6px 0px;

  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link:hover,
.cart-link:focus {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.cart-link:active {
  background-color: #518534;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  border: 3px solid #32425c;
}

.bookmarks-button:active {
  opacity: 0.3;
  border: 3px solid #32425c;
}

/* Стили для фильтров */
.filter {
  width: 220px;
}

.filter-title {
  box-sizing: border-box;
  width: 220px;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 9px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter legend {
  margin-bottom: 13px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-price {
  width: 220px;
  margin-bottom: 42px;
  position: relative;

  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-price::after {
  content: "";

  position:absolute;
  bottom: -27px;
  left: 0;

  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

.price-title {
  margin: 0;
  margin-bottom: 16px;

  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  box-sizing: border-box;
  width: 220px;
  padding-top: 38px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: #f7f3ec;

}

.scale {
  position: absolute;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  position: relative;
  top: -22px;
  width: 4px;
  height: 4px;
  padding: 2px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 116px;
}

.price-controls {
  position: relative;
  display: flex;
  width: 220px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 106px;
  width: 10px;
  height: 1px;
  background-colors: #444444;
}

.price-controls input {
  width: 95px;
  height: 38px;

  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.filter-companies {
  position: relative;
  margin-bottom: 23px;
}

.filter-companies::after {
  content: "";

  position:absolute;
  bottom: -6px;
  left: 0;

  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

.legend-supply {
  letter-spacing: 0.05px;
}

.companies-list, .supply-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.companies-item,
.supply-item {
  margin-bottom: 20px;
  padding-left: 17px;

  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.companies-item:active,
.supply-item:active {
  opacity: 0.4;
}

fieldset label {
  display: block;

  margin-left: 16px;
  position: relative;
  cursor: pointer;

}

.filter-show {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

input[type="checkbox"] + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -33px;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -33px;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="radio"] + .radio-indicator::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="radio"]:checked + .radio-indicator::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-show {
  width: 140px;
  margin-top: 60px;
  padding: 10px 39px 10px 39px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.modal {
  display: none;
}
