body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

a {
  display: inline-block;
  text-decoration: none;

}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.header-main {
  margin-bottom: 60px;
  background-color: #f4f7f9;
  color: #ffffff;
}

.header-top {
  min-height: 42px;
  margin-bottom: 46px;

  background-color: #293449;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Разметка логотипа */
.header-logo {
  height: 42px;
}

.header-logo .logo-hover,
.header-logo .logo-active {
  display: none;
}

.header-logo:hover .main-logo,
.header-logo:hover .logo-active {
  display: none;
}

.header-logo:hover .logo-hover {
  display: inline-block;
}

.header-logo:active .logo-active {
  display: inline-block;
}

.header-logo:active .main-logo,
.header-logo:active .logo-hover {
  display: none;
}

/* Форма поиска */

.header-search input {
  box-sizing: border-box;
  width: 270px;
  padding: 12px 10px 12px 49px;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.header-search input:hover {
  background-color: #212a3a;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-top-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-top-item a {
  width: auto;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

.header-top-bookmarks:hover,
.header-top-bookmarks:focus,
.header-top-cart:hover,
.header-top-cart:focus{
  background-color: #212a3a;
}

.header-top-bookmarks:active,
.header-top-cart:active {
  opacity: 0.6;
  background-color: #161d29;
}

.header-top-order {
  width: 150px;
  margin: 0;
  padding: 14px 21px 13px;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.header-top-order:hover,
.header-top-order:focus {
  background-color: #5fbb2d;
}

.header-top-order:active {
  opacity: 0.5;
  background-color: #518534;
}

.header-top-bookmarks {
  position: relative;
  padding: 13px 30px 14px;
}

.header-top-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-top-cart {
  position: relative;
  padding: 13px 30px 14px;
}

.header-top-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Стили для ссылок авторизованного пользователя */
.header-top-link-autorized {
  width: 150px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

/* Стили header-middle */
.header-middle {
  background-color: #f3f7f9;
  margin-bottom: 20px;
}

.header-middle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стили названия страницы */
.index-title {
  width: 196px;
  margin: 0;
  padding-left: 53px;
  padding-top: 8px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

/* Стили блока контактов в header */
.header-contacts p {
  width: 250px;
  margin: 0;
  padding: 10px;

  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header-contacts-link {
  box-sizing: border-box;
  position: relative;
  width: 270px;
  padding: 10px 42px 7px 71px;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff;
}

.header-contacts-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 19px;
  height: 19px;

  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.user-nav-item a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-nav-item a:hover,
.user-nav-item a:focus {
  color: #ee3643;
}

.user-nav-item a:active {
  opacity: 0.3;
}


.login-link {
  box-sizing: border-box;
  position: relative;
  width: 121px;
  padding: 14px 27px 15px 48px;
  margin-right: 10px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/svg/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover {
  color: #ee3643;
}

/* .login-link::before:hover {
  background-image: url("../img/svg/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} */

.registration-link {
  box-sizing: border-box;
  width: 150px;
  padding: 14px 25px 15px 25px;

  color: #000000;

}

/* Стили reg-nav в каталоге */
.reg-nav-list {
  list-style: none
}

.reg-nav-item {
  width: 299px;
}

.reg-nav-item a {
  color: #32425c;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.reg-nav-item a:hover,
.reg-nav-item a:focus {
  color: #ee3643;
}

.reg-nav-item a:active {
  color: #32425c;
  opacity: 0.3;
}

.reg-nav-item .profile-link {
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none
}

.reg-nav-item .profile-link:hover,
.reg-nav-item .profile-link:focus {
  color: #000000;
}

.reg-nav-item .profile-link:active {
  opacity: 0.3;
}

/* Стили навигации в header */

.header-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-nav-link {
  display: block;
  width:auto;
  padding: auto;
  padding: 22px 30px;
  vertical-align: middle;

  color: #ffffff;
}

.header-nav-item a:hover,
.header-nav-item a:focus {
  background-color: #1d2739;;
}

.header-nav-item a:active {
  opacity: 0.5;
}

/* Стилизация main */

/*Стили для "О компании"  */
.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.info {
  width: 519px;
  margin: 0;


  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.info-title {
  margin: 0;
  margin-bottom: 10px;
}

.info p {
  margin: 0;
  padding: 15px 0;
}

.info-list {
  margin: 0;
  margin-bottom: 17px;
  list-style: none;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
}

.info-item {
  position: relative;
  padding-bottom: 20px;
}

.info-item::before{
  content: "";

  width: 25px;
  height: 2px;
  top: 10px;
  left: -35px;
  background-color: #ee3643;

  position: absolute;
}

.info-more {
  padding: 14px 40px 12px 41px;
}

/* Стили для контактов в main */
.main-contacts {
  width: 300px;
  margin: 0;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.main-contacts-title {
  margin: 0;
  margin-bottom: 10px;
}

.main-contacts p {
  width: 179px;
  padding: 15px 0;

  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.main-contacts img {
  padding-bottom: 30px;
}

.main-contacts-link {
  padding: 14px 59px 12px 63px;
}

.about-us a {
  display: inline-block;

  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}


.info-title,
.main-contacts-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}


/* Стили для main в каталоге */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-index {
  width: 30px;
  height: 30px;
  background-image: url(../img/svg/icon-home.svg);
  /* background-color: #c1c6ce; */
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-title {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* Стили карточки товара */
.catalog-item.product {
  list-style: none;
}

.catalog-item.product {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-title {
  width: 155px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-cart-link {
  background-image: url("../img/svg/red-button.svg");
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-old-price {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.product-order {
  display: none;
}

.catalog-item.product:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item.product:hover .product-img-link {
  display: none;
}

.catalog-item.product:hover .product-order {
  display: inline-block;
}

.cart-link {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.cart-link:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.cart-link:active {
  background-color: #518534;
}

.bookmarks-button {
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.bookmarks-button:hover {
  border: 3px solid #32425c;
}

.bookmarks-button:active {
  opacity: 0.3;
  border: 3px solid #32425c;
}

/* Стили для footer */

.footer-main {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

/* Убираем маркеры со списков */
.footer-nav-list,
.footer-menu-list,
.social-list {
  list-style: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px 0 0 142px;
}

.footer-nav-item a {
  padding: 10px 30px;

  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  opacity: 0.5;
  text-decoration: none
}

/* Стили для footer-middle */
.footer-middle{
  display: flex;
  margin-bottom: 53px;
}

/* Стили для контактов в footer */
.footer-contacts {
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}
/* Белый цвет для ссылки-телефона */
.footer-contacts a {
  color: #f1f5f7;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}
/* Стили для меню в footer  */

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
}

.footer-menu-item a {
  padding: 0 30px;

  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  text-decoration: underline;
}

.footer-menu-item a:active {
  opacity: 0.5;
  text-decoration: none
}


.footer-bottom {
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 107px;
}

.social-list {
  display: flex;
  padding: 0;
  margin-right: 119px;
}

.social-item:not(:last-of-type) {
  margin-right: 4px;
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:active {
  background-color: #ee3643;
}

/* Стили для copyright */

.copyright {
  width: 227px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  margin-right: 165px;
}

/* Стили для feedback */
/* Стили для develop */
.feedback,
.develop {
  width: 135px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
}

.feedback p,
.develop p {
  margin: 0;
}

.feedback a,
.develop a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: #ee3643;
  text-decoration: none
}

.feedback {
  margin-right: 30px;
}

/* Стили для фильтров */
.filter-title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.legend-supply {
  letter-spacing: 0.05px;
}

.companies-list, .supply-list {
  list-style: none;
}

.companies-item,
.supply-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.companies-item:active,
.supply-item:active {
  opacity: 0.4;
}

.filter button {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
