body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Убираем подчеркивание у ссылок  */
a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
  color: #ffffff;
}

/* Разметка логотипа */
.header-logo .logo-hover,
.header-logo .logo-active {
  display: none;
}

.header-logo:hover .main-logo,
.header-logo:hover .logo-active {
  display: none;
}

.header-logo:hover .logo-hover {
  display: inline-block;
}

.header-logo:active .logo-active {
  display: inline-block;
}

.header-logo:active .main-logo,
.header-logo:active .logo-hover {
  display: none;
}

/* Убираем маркеры со списков */
.header-top-list,
.header-nav-list,
.user-nav-list {
  list-style: none;
}

/* Стили header-top */
.header-top {
  background-color: #293449;
}

.header-top-link {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

.header-top-link:hover,
.header-top-link:focus {
  background-color: #212a3a;
}

.header-top-link:active {
  opacity: 0.6;
  background-color: #161d29;
}

.header-top-order {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.header-top-order:hover,
.header-top-order:focus {
  background-color: #5fbb2d;
}

.header-top-order:active {
  opacity: 0.5;
  background-color: #518534;
}

/* Стили для ссылок авторизованного пользователя */
.header-top-link-autorized {
  width: 150px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 18px;
}

/* Стили блока контактов в header */
.header-contacts p {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.header-contacts {
  width: 270px;
  border: 3px solid #ffffff;
}

.header-contacts-link {
  width: 144px;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.header-contacts-address {
  width: 250px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
}

.header-nav-list a:active {
  opacity: 0.5;
}

/* Стили названия страницы */
.index-title {
  width: 196px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

/* Стили кнопок Войти, Регистрация */
.user-nav-item a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-nav-item a:hover,
.user-nav-item a:focus {
  color: #ee3643;
}

.user-nav-item a:active {
  opacity: 0.3;
}



/* Стили reg-nav в каталоге */
.reg-nav-list {
  list-style: none
}

.reg-nav-item {
  width: 299px;
}

.reg-nav-item a {
  color: #32425c;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.reg-nav-item a:hover,
.reg-nav-item a:focus {
  color: #ee3643;
}

.reg-nav-item a:active {
  color: #32425c;
  opacity: 0.3;
}

.reg-nav-item .profile-link {
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none
}

.reg-nav-item .profile-link:hover,
.reg-nav-item .profile-link:focus {
  color: #000000;
}

.reg-nav-item .profile-link:active {
  opacity: 0.3;
}

/* Стили навигации в header */
.header-nav-list {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.header-nav-item a {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  line-height: 17px;
}

.header-nav-item a:hover,
.header-nav-item a:focus {
  background-color: #1d2739;;
}

.header-nav-item a:active {
  opacity: 0.5;
}



/*Стили для "О компании"  */
.info {
  width: 519px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.info-title,
.main-contacts-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
}

.info-list {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
}

.info a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;

  width: 220px;
  height: 38px;
  background-color: #ee3643;
}

/* Стили для контактов в main */
.main-contacts p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;

  width: 179px;
  height: 96px;
}

.main-contacts a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;

  width: 300px;
  height: 38px;
  background-color: #ee3643;
}

/* Стили для main в каталоге */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-index {
  background-image: url("../img/svg/icon-home.svg");
  background-color: #c1c6ce;
}

.catalog-title {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* Стили карточки товара */
.catalog-item.product {
  list-style: none;
}

.catalog-item.product {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.product-title {
  width: 155px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-cart-link {
  background-image: url("../img/svg/red-button.svg");
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.product-old-price {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.cart-link, .bookmarks-button {
  display: none;
}

.catalog-item.product:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item.product:hover .product-img-link {
  display: none;
}

.catalog-item.product:hover .cart-link, .bookmarks-button {
  display: inline-block;
}

.cart-link {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.cart-link:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.cart-link:active {
  background-color: #518534;
}

.bookmarks-button {
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.bookmarks-button:hover {
  border: 3px solid #32425c;
}

.bookmarks-button:active {
  opacity: 0.3;
  border: 3px solid #32425c;
}

/* Стили для footer */

.footer-main {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

/* Стили для логотипа в footer */
.footer-logo .logo-hover,
.footer-logo .logo-active {
  display: none;
}

.footer-logo:hover .main-logo,
.footer-logo:hover .logo-active {
  display: none;
}

.footer-logo:hover .logo-hover {
  display: inline-block;
}

.footer-logo:active .logo-active {
  display: inline-block;
}

.footer-logo:active .main-logo,
.footer-logo:active .logo-hover {
  display: none;
}

/* Убираем маркеры со списков */
.footer-nav-list,
.footer-menu-list,
.social-list {
  list-style: none;
}


/* Стили для навигации в footer */
.footer-nav-item a {
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  opacity: 0.5;
  text-decoration: none
}

/* Стили для контактов в footer */
.footer-contacts {
  width: 322px;
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}
/* Белый цвет для ссылки-телефона */
.footer-contacts a {
  color: #f1f5f7;
}

/* Стили для меню в footer  */
.footer-menu-item a {
  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  text-decoration: underline;
}

.footer-menu-item a:active {
  opacity: 0.5;
  text-decoration: none
}

/* Стили для copyright */
.copyright {
  width: 227px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
}

/* Стили для social */


/* Стили для feedback */
/* Стили для develop */
.feedback,
.develop {
  width: 135px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
}

.feedback a,
.develop a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: #ee3643;
  text-decoration: none
}
